/*
  Lewd.li CSS
  2021. - Ize.
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css");

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

* {
  font-family: 'PT Mono', monospace;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  background-color: #131A1E;
  color: #cacaca;
  background: url("https://cdn.statically.io/img/safebooru.org//images/3322/4efb3ea23a2a185ddb1823b40105246b72b66a9e.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::before {
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, .9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  display: block;
  color: #779BF0;
  text-decoration: none;
  margin-bottom: 2px;
}

a.list::before {
  position: relative;
  content: '- ';
}

.v-h {
  visibility: hidden;
  position: absolute;
}

.left-c {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20em;
}

.left-bar {
  width: 100%;
  height: auto;
  background-color: rgba(20, 27, 31, .8);
  color: rgba(202, 202, 202, .7);
  z-index: 100;
  border-radius: 2px;
  margin-bottom: 8px;
}

.left-bar .gradt {
  width: 100%;
  height: 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: linear-gradient(223deg, #1c57e1, #1cbde1, #1ce194, #e1491c, #e11c1c);
  background-size: 1000% 1000%;
  -webkit-animation: header-bar 6s ease-in-out infinite;
  -moz-animation: header-bar 6s ease-in-out infinite;
  animation: header-bar 6s ease-in-out infinite;
}

.left-bar .cont {
  padding: 6px;
}

.cont .title {
  text-align: center;
}

.left-bar .cont p {
  text-transform: lowercase;
}

.project-list {
  padding-left: 5px;
  padding-right: 5px;
}

.hx-links {
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.def-cursor {
  cursor: default;
}

.api-list {
  text-align: center;
  margin-bottom: 4px;
}

.api-b {
  display: inline-block;
  text-align: center;
  padding: 1px 6px 1px 6px;
  color: rgba(255, 255, 255, .8);
  font-size: 1rem;
  border-radius: 2px;
}

.api-b.down {
  background-color: rgba(219, 66, 66, .8);
}

.api-b.up {
  background-color: rgba(66, 219, 99, 0.8);
}

@-webkit-keyframes header-bar {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes header-bar {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes header-bar {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}